@{
    ViewData["Title"] = "<xmlRant/> - " + Model + "s";
    if (Model == "rant") 
    {
        ViewData["Title"] += " - " + ViewBag.Sort;
    }
    
}
@model String

<pre>
    <code class="language-markup">
    @{
        @Html.Raw("&lt;?xml version=\"1.0\" encoding=\"UTF-8\"?><br/>")
        switch (Model)
        {
            default:
            case "rant":
                @Html.Raw("<div id='rootOpeningTag'>&lt;devRant type=\"" + Model + "s\" sorting=\"" + ViewBag.Sort + "\"></div>")
                break;
            case "collab":
                @Html.Raw("<div id='rootOpeningTag'>&lt;devRant type=\"" + Model + "s\"></div>")
                break;
        }

        @Html.Raw("<div id='typeOpeningTag' class='rantColl'>&lt;switch to=\"<a href='/'>rants</a>|<a href='/collabs'>collabs</a>\" /></div>")                

        @Html.Raw("<span class='rantColl'>&lt;!-- Hexical Labs is the original creator of devRant --></span>")
        @Html.Raw("<div class='rantColl'>&lt;original><a target='_blank' href='https://www.devrant.io/feed/recent'>https://www.devrant.io/feed/recent</a>&lt;/original></div>")
        
        @Html.Raw("<span class='rantColl'>&lt;!-- Inspiration taken from jsRant.com, thanks ChappIO --></span>")
        @Html.Raw("<div class='rantColl'>&lt;inspiration><a target='_blank' href='http://jsRant.com'>http://jsRant.com</a>&lt;/inspiration></div>")
        
        @Html.Raw("<span class='rantColl'>&lt;!-- Oleg Rumiancev is the creator of this XML stylised version of devRant --></span>")
        @Html.Raw("<div class='rantColl'>&lt;creator><a target='_blank' href='https://www.linkedin.com/in/olegrumiancev/'>https://www.linkedin.com/in/olegrumiancev/</a>&lt;/creator></div>")

        switch (Model)
        {
            default:
                break;
            case "rant":
                @Html.Raw("<div id='sortOpeningTag' class='rantColl'>&lt;sort by=\"<a href='/?sort=algo'>algo</a>|<a href='/?sort=top'>top</a>|<a href='/?sort=recent'>recent</a>\" /></div>")
                break;
        }

        @Html.Raw("<div class='rantColl'>&lt;" + Model + "s></div>")
        @Html.Raw("<div class='rantColl'>&lt;/" + Model + "s></div>")
        
        @Html.Raw("&lt;/devRant>")
    }
    </code>
</pre>

<div class="row" id="progress" style="display: none;">
    <div class="col-md-12">
        Loading...
    </div>
</div>

<script type="text/javascript">
function executeWhenLoaded(func){
    // for loop starts at 1 to skip the function argument.
    for (var i = 1; i<arguments.length; i++){ 
        if (! window[ arguments[i] ]) {
            setTimeout(arguments.callee,50);
            return;
        }
    }
    func(); // only reaches here when for loop is satisfied.
}

executeWhenLoaded(function() {
    xmlRant.sort = '@Html.Raw(ViewBag.Sort)';
    xmlRant.type = '@Html.Raw(Model)';
    xmlRant.progressIndicator = "#progress";
    xmlRant.init();
}, 'xmlRant');

</script>